<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Song+Myung&display=swap" rel="stylesheet">
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <title>RubyPage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="header">
    <a href="/index">
    <span class="ruby">Ruby</span>Page
    </a>
  </header>
  <body class="<%=controller%>">
    <%= yield %>
  </body>
</html>
